{# login.html #}
{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div id="loading" class="col-md-12">
    </div>
  </div>
  <div id="content">
    <div class="row">
      <h3 class="col-md-12 text-center">集計に必要な情報を入れてください</h3>
    </div>
    <form method="POST" action={{ url_for('charaani_result') }} onsubmit="return loading();" class="form-horaizontal">
      <div class="row form-group">
        <label class="col-md-3 contorol-label">ユーザーID</label>
        <input type="text" name="username" required class="col-md-9 input-md" size=30></input>
      </div>
      <div class="row form-group">
        <label class="col-md-3 contorol-label">パスワード</label>
        <input type="password" name="password" required class="col-md-9 input-md" size=30></input>
      </div>
      <div class="row form-group">
        <label class="col-md-3 contorol-label">操作するページ数</label>
        <input type="number" name="page" value="3" required class="col-md-9 input-md" size=3></input>
      </div>
      <div class="row form-group tex">
        <div class="col-md-offset-3">
          <button type="submit" class="btn btn-primary">集計開始</button>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
{% endblock %}
